Configuración local/
Cookies/
Datos de programa/
Documents/
Entorno de red/
Impresoras/
Menú Inicio/
Mis documentos/
Plantillas/
Reciente/
SendTo/
Saved Games/
Searches/
Videos/
OneDrive/
node_modules/